<!DOCTYPE html>
<html>

<head>
    <title>Document</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <div class="main-content">
        {{>header}}

        <p>This site is created by Rohan Rajthala. It used the data from mapbox.com and darksky.net !</p>

        <img class="portrait" src="/img/white-robot.jpg" alt="">
    </div>

    {{>footer}}

</body>

</html>